@import "../global";

.resto_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.resto_card {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 0.5rem;
  border-radius: 4px;
  min-height: 200px;
  background-color: #fff;

  p {
    padding: 0 1rem;
    text-align: justify;
  }
}

.delete_wrapper {
  position: relative;
  width: auto;

  .confirm {
    width: 200px;
    position: absolute;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1rem 0.5rem;
    z-index: 100;
    transform: translateX(-48%);
    display: none;
    transition: all 0.25s ease-out;

    &.show {
      animation: show 0.35s ease-out forwards;
      display: block;
    }

    @keyframes show {
      0% {
        top: -130px;
      }
      100% {
        top: -110px;
      }
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      background: none;
      border: 10px solid transparent;
      border-bottom-width: 0;
      border-top-color: #ffffff;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
