.add_resto_form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 4px;

  .add_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &_field {
      margin-bottom: 1.5rem;
    }
  }
}
