<div class="resto_form">
  <h2 class="title">Add New Restaurant</h2>
  <form class="form" [formGroup]="restoForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form_field">
      <mat-label>Restaurant Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error>{{getErrorName()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form_field">
      <mat-label>Restaurant Email</mat-label>
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-error>{{getErrorEmail()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form_field">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description..." rows="5" formControlName="description"></textarea>
      <mat-error>{{getErrorDesc()}}</mat-error>
    </mat-form-field>
    <button [disabled]="restoForm.invalid" style="min-width: 100px; margin-left: auto;" type="submit" mat-flat-button
      color="primary">Add</button>
  </form>
</div>