$text-color: #718093;

* {
  color: $text-color;
}

.resto_form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .form {
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #fff;

    &_field {
      margin-bottom: 1.5rem;
    }
  }
}

.title {
  color: $text-color;
}
