<mat-toolbar color="primary" class="navbar">
  <nav class="navbar">
    <button (click)="drawerToggle(drawer)" mat-button class="toggle_icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/list" class="nav_link">RestaurantList</a>
    <ul class="nav">
      <li routerLink="/list">
        <a class="nav_link">Restaurants</a>
      </li>
      <li routerLink="/add">
        <a class="nav_link">Add</a>
      </li>
      <li routerLink="/login">
        <a class="nav_link">Login</a>
      </li>
      <li routerLink="/register">
        <a class="nav_link">Register</a>
      </li>
      <li>
        <a class="nav_link">Logout</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<mat-drawer-container class="mobile_nav_container" [class]="showSideNav ? 'show' : 'hide'">
  <mat-drawer #drawer class="mobile_sidenav" mode="push" (closed)="closed()">
    <nav class="mobile_nav">
      <ul class="nav">
        <li routerLink="/list">
          <a class="nav_link">Restaurants</a>
        </li>
        <li routerLink="/add">
          <a class="nav_link">Add</a>
        </li>
        <li routerLink="/login">
          <a class="nav_link">Login</a>
        </li>
        <li routerLink="/register">
          <a class="nav_link">Register</a>
        </li>
        <li>
          <a class="nav_link">Logout</a>
        </li>
      </ul>
    </nav>
  </mat-drawer>
</mat-drawer-container>

<div class="section">
  <router-outlet></router-outlet>
</div>