<mat-toolbar color="primary" class="navbar">
  <nav class="navbar">
    <button (click)="drawerToggle(drawer)" mat-button class="toggle_icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/list" class="nav_link" style="font-size: 1.4rem;">Resto</a>
    <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input class="search_input" placeholder="Search..." formControlName="query">
      <button type="submit" mat-button *ngIf="searchForm.controls.query.value" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <ul class="nav">
      <li routerLink="/list">
        <a class="nav_link">Restaurants</a>
      </li>
      <li routerLink="/add">
        <a class="nav_link">Add New</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<mat-drawer-container class="mobile_nav_container" [class]="showSideNav ? 'show' : 'hide'">
  <mat-drawer #drawer class="mobile_sidenav" mode="push" (closed)="closed()">
    <nav class="mobile_nav">
      <ul class="nav">
        <li routerLink="/list">
          <a class="nav_link">Restaurants</a>
        </li>
        <li routerLink="/add">
          <a class="nav_link">Add</a>
        </li>
      </ul>
    </nav>
  </mat-drawer>
</mat-drawer-container>

<div class="section">
  <router-outlet></router-outlet>
</div>