<h2 *ngIf="!notFound" class="title">Restaurant List</h2>
<p class="not_found_data" *ngIf="notFound">There is no restaurant with this search</p>
<div *ngIf="!notFound" class="resto_list">
  <div *ngFor="let resto of restaurants" class="resto_grid">
    <mat-card class="resto_card">
      <mat-card-header>
        <mat-card-title>{{resto.name}}</mat-card-title>
        <mat-card-subtitle>{{resto.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{resto.description | slice:0:150}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button routerLink="/update/{{resto.id}}" mat-button color="primary">Edit</button>
        <button mat-button color="accent">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>